<ion-header class="ion-no-border">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="perfil()" icon="arrow-back-circle" text="" defaultHref="/"> </ion-back-button>
      <!--permite regresar-->

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="photo" *ngFor="let photo of photos">

  </ion-img>
 <ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
 </ion-fab> 
 <!--<div>
  <ion-button fill="clear" style="font-size: 20px;" (click)="crearFoto()">
  Tomar foto
  </ion-button>
 </div>-->
</ion-content>
